<mat-card class="example-card max-w-[370px]" appearance="outlined">
    <div >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Frango Assado</mat-card-title>
            <mat-card-subtitle>Nosso carro-chefe</mat-card-subtitle>
        </mat-card-header>
        <div class="flex justify-center">
            <img class="max-h-[400px] max-w-[368px] object-cover"src="https://img.cybercook.com.br/receitas/426/galeto-na-brasa.jpeg" alt="Frango Assado">
        </div>
        
        <mat-card-content class="items-center mt-2">
            <p class="text-justify text-sm ">
              Melhor frango da cidade naquele precinho!
              O galeto inteiro é uma forma diferente, mas muito saborosa de comer frango no churrasco!
              Muitas vezes até mais suculenta também! Principalmente com o nosso tempero especial!
            </p>
        </mat-card-content>
        <mat-card-actions class="flex mx-2 justify-between">
            <div class="flex items-center">
                <span class="text-base font-medium text-left flex-shrink-0 mr-1">R$ 36,00</span>
            
                <div class="flex justify-between ">
                    <button mat-button >
                        <mat-icon>add_shopping_cart</mat-icon>
                        Adicionar
                    </button>
                    
                    
                </div>
                
                
                  
                
                <!-- <button mat-button class="w-50 flex items-center gap-0">
                    <mat-icon>delete</mat-icon>
                </button> -->
                <!-- <button mat-fab class="w-2 h-2" style="background-color: #ba005c; color: white; border-radius: 50%; width: 40px; height: 40px;"> 
                    <mat-icon>delete</mat-icon>
                </button> -->
            </div>
            <div class="flex gap-2">
                <button mat-fab style="background-color: primary; color: #ba005c;width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                    <mat-icon>edit</mat-icon>
                  </button>
                <button mat-fab style="background-color: primary; color: #ba005c;width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
            
        </mat-card-actions>
        </div>
</mat-card>
    
    
  
