<mat-card class="example-card max-w-[370px]" appearance="outlined">
    <div >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Frango Assado</mat-card-title>
            <mat-card-subtitle>Nosso carro-chefe</mat-card-subtitle>
        </mat-card-header>
        <div class="flex justify-center">
            <img class="max-h-[400px] max-w-[368px] object-cover"src="https://img.cybercook.com.br/receitas/426/galeto-na-brasa.jpeg" alt="Frango Assado">
        </div>
        
        <mat-card-content class="items-center mt-2">
            <p class="text-justify text-sm ">
              Melhor frango da cidade naquele precinho!
              O galeto inteiro é uma forma diferente, mas muito saborosa de comer frango no churrasco!
              Muitas vezes até mais suculenta também! Principalmente com o nosso tempero especial!
            </p>
        </mat-card-content>
        <mat-card-actions class="flex justify-between mx-2">
            <div>
                <span class="text-xl font-medium">R$ 36,00</span>
            </div>
            <div class="flex justify-between ">
                <button mat-button >
                    <mat-icon>add_shopping_cart</mat-icon>
                    Adicionar
                </button>
                <button mat-button class="w-50 flex items-center gap-0">
                    <!-- <mat-icon>shopping_cart</mat-icon> -->
                    <mat-icon>local_atm</mat-icon>
                    Comprar
                </button>
            </div>
            
        </mat-card-actions>
        </div>
</mat-card>
    
    
  
