<mat-card class="example-card max-w-[370px]" appearance="outlined">
    <div >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Frango Assado</mat-card-title>
            <mat-card-subtitle>Nosso carro-chefe</mat-card-subtitle>
        </mat-card-header>
        <div class="flex justify-center">
            <img class="max-h-[350px] max-w-[350px] object-cover"src="https://img.cybercook.com.br/receitas/426/galeto-na-brasa.jpeg" alt="Frango Assado">
        </div>
        
        <mat-card-content class="items-center">
            <p class="text-justify text-sm">
              Melhor frango da cidade naquele precinho!
              O galeto inteiro é uma forma diferente, mas muito saborosa de comer frango no churrasco!
              Muitas vezes até mais suculenta também! Principalmente com o nosso tempero especial!
            </p>
        </mat-card-content>
        <mat-card-actions class="flex justify-between text-xl font-medium">
            R$ 36,00
            <button mat-button>Adicionar ao carrinho</button>
            <button mat-button>Comprar</button>
        </mat-card-actions>
        </div>
</mat-card>
    
    
  
