<form (ngSubmit)="onSubmit()" class="w-[30rem] p-6 shadow-md opacity-80" [formGroup]="formProduct">
    <div class="mb-4 justify-center">
        
      <div class="p-4 mb-1 text-custom-span">
        <span class="text-xl font-medium text-custom-span"> Atualizar Produto: {{product.title}} </span>
      </div>
          <input type="hidden" class="form-control" formControlName="id" readonly>
         <mat-form-field class="example-full-width flex-1"> 
            <mat-label>Título</mat-label>
            <input type="text" matInput placeholder="Frango Assado" formControlName="title">
            @if (formProduct.get('title').hasError('required')) {
              <mat-error>Campo Título é obrigatório. </mat-error>
            }
            @if (formProduct.get('title').hasError('minlength') && formProduct.get('title').touched) {
              <mat-error>Título de ve ter no mínimo 3 caracteres. </mat-error>
            }
          </mat-form-field>

          
          <mat-form-field class="example-full-width"> 
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="O melhor frango assado da cidade.... " formControlName="description"></textarea>
            @if (formProduct.get('description').hasError('required')) {
              <mat-error>Campo Descrição é obrigatório. </mat-error>
            }
            @if (formProduct.get('description').hasError('minlength') && formProduct.get('description').touched) {
              <mat-error>Título deve ter no mínimo 5 caracteres. </mat-error>
            }
          </mat-form-field>

          
          <mat-form-field class="example-full-width"> 
            <mat-label>Preço</mat-label>
            <input currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" type="text" matInput placeholder="R$ 10,00" formControlName="price">
            @if (formProduct.get('price').hasError('required')) {
              <mat-error>Campo Preço é obrigatório. </mat-error>
            }
            @if (formProduct.get('price').hasError('min') && formProduct.get('price').touched) {
              <mat-error>Preço deve ser maior que zero. </mat-error>
            }
            @if (formProduct.get('price').hasError('pattern') && formProduct.get('price').touched) {
              <mat-error>Preço deve ter um número válido. </mat-error>
            }
          </mat-form-field>

          <mat-form-field class="example-full-width"> 
            <mat-label>URL da imagem</mat-label>
            <input type="text" matInput placeholder="https://img.cybercook.com.br/receitas/426/galeto-na-brasa.jpeg" formControlName="image">
            @if (formProduct.get('image').hasError('required')) {
              <mat-error>Campo Imagem é obrigatório. </mat-error>
            }
            @if (formProduct.get('image').hasError('pattern') && formProduct.get('image').touched) {
              <mat-error>Entre com uma URL válida. </mat-error>
            }
          </mat-form-field>

          <div class="flex justify-center">
            <button mat-flat-button type="submit">
              <mat-icon>update</mat-icon>Atualizar
           </button>
          </div>

    </div>
</form>
